<header class="head" style="background-image: url({{header}});">
  <div class="container">
    <main class="head__main">
      <h1><span>Hot Mobile</span> продолжает с революции</h1>
      <ul class="head__list">
        <li>Безлимитный интернет <span>100 GB</span></li>
        <li>Безлимитные  звонки</li>
        <li>Скидки на домашние коммуникации</li>
        <li>Самая быстрая сеть интернета <span>4G+</span></li>
        <li>скидки -10&#8362; на семейную программу</li>
        <li><span>500</span> минут для звонков за границу (31 страна)</li>
        <li>От <span>29 	&#8362;/мес</span></li>
        <li>Персональный менеджер</li>
      </ul>
    </main>
    <div class="head__logo">
      <img src="{{logo}}" alt="HotMobile">
    </div>
  </div>
</header>
